<h1 class="text-3xl font-semibold text-sky-700 text-center my-4">
  Welcome to {{ title }}
</h1>

<div class="my-4 text-center h-8">
  <h3 class="text-amber-700 font-bold text-2xl">{{successMsg}}</h3>
  <h4 *ngIf="isCrossTurn; else elseBlock" class="text-sky-700">Cross is playing</h4>
  <ng-template #elseBlock><h4 class="text-sky-700"> Circle is playing</h4></ng-template>
  
</div>

<div class="flex justify-center mt-8 flex-col items-center gap-8">
  <div
    class="grid grid-cols-3 grid-rows-3 w-60 h-60 gap-2 bg-sky-100 rounded-md p-4"
  >
    <app-matrix-block
      *ngFor="let item of matrix; let i = index"
      [ele]="item"
      [index]="i"
      [isWinnerBlock]="winner && winner.winnerBlocks.includes(i)"
      (eleIndexEvent)="updateIndex($event)"
    ></app-matrix-block>
  </div>

  <button class="rounded-full bg-red-600 text-white py-1 px-4" (click)="resetGame()">Reset</button>
</div>
